.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: auto;
    width: 150px;
    background-color: aquamarine;
    border-radius: 3px;
    font-size: xx-large;
}

button:hover {
    cursor: pointer;
}